@font-face {
    font-family: 'Nijiiro';
    font-style: 'normal';
    src: url('/assets/css/fonts/Nijiiro.woff') format('woff');
}

html,body{
    margin:0;

    font-family: 'Noto Sans JP', 'Noto Sans KR', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    height: 30%;
    background: #5D5D5D;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(237, 237, 237, 0);
}